.main {
    flex-grow: 1;
    overflow-y: auto;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,0.4) 80%);
    padding: 1.5rem !important;
}

.orders-list .list-group-item {
    display: flex;
}

.orders-list .col {
    margin: auto;
}

.orders-list h5 {
    color: #c03939;
    font-size: 1.3rem;
    font-weight: 300;
    margin: 0.2rem 0 0 0;
    font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
