@page "/orders"
<div class="main">
    @if(ViewModel.Orders == null)
    {
        <text>Cargando...</text>
    }
    else if(!ViewModel.Orders.Any())
    {
        <h2>No se ha realizado alguna orden</h2>
        <a class="btn btn-success" href="">Ordena alguna pizza</a>
    }
    else
    {
        <div class="list-group orders-list">
            @foreach (var Item in ViewModel.Orders)
            {
                <div class="list-group-item">
                    <div class="col">
                        <h5>@Item.CreatedTime.ToLongDateString()</h5>
                        Pizzas:
                        <strong>@Item.PizzasCount</strong>
                        Precio total:
                        <strong>@Item.GetFormattedTotalPrice()</strong>
                    </div>
                    <div class="col">
                        Estado: <strong>@Item.Status.GetText()</strong>
                    </div>
                    @if (!Item.IsDelivered)
                    {
                        <div class="col text-right">
                            <a href="orderdetails/@Item.Id" class="btn btn-success">
                            Rastrear &gt;
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    }
</div>

