<div class="form-field">
    <label>Nombre:</label>
    <div>
        <InputText @bind-Value="Address.Name" />
    </div>
</div>

<div class="form-field">
    <label>Línea 1:</label>
    <div>
        <InputText @bind-Value="Address.AddressLine1" />
    </div>
</div>

<div class="form-field">
    <label>Línea 2:</label>
    <div>
        <InputText @bind-Value="Address.AddressLine2" />
    </div>
</div>

<div class="form-field">
    <label>Ciudad:</label>
    <div>
        <InputText @bind-Value="Address.City" />
    </div>
</div>

<div class="form-field">
    <label>Región:</label>
    <div>
        <InputText @bind-Value="Address.Region" />
    </div>
</div>

<div class="form-field">
    <label>Código postal:</label>
    <div>
        <InputText @bind-Value="Address.PostalCode" />
    </div>
</div>
